html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
   width: 100vw;
   max-width: 100vw;
   overflow: hidden;
   font-family: $main-font;
}

// Update variables based on option selected
@each $val in $colors {
   .radio[value="#{$val}"]:checked ~ * {
      --light: var(--light-#{$val});
      --light-secondary: var(--light-#{$val}-secondary);
   }
}

@each $val in $bgs {
   .radio[value="#{$val}"]:checked {
      ~ * {
         --bg1: var(--bg1-#{$val});
         --bg2: var(--bg2-#{$val});
      }
   }
}